if SHIELD_TANX66OLED

config ZMK_KEYBOARD_NAME
    default "tanx66oled"

config USB_DEVICE_PRODUCT
      default "tanx66oled"

    config BT_DEVICE_NAME
      default "tanx66oled"

    config I2C
      default y

    config SSD1306
      default y

    config SPI
      default y

    config ZMK_BLE
	    default y

    config ZMK_USB
	    default y 

endif