name: Build ZMK firmware
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
env:
  ZMK_EXTRA_MODULES: "${{ github.workspace }}/zephyr/modules/hall_effect"
